.page.theme_dark {
  --maintitle-text-color: var(--violet-color, #db00ff);
  --shadow-color: var(--pink-color, #ff0070);
  --title-text-color-light: var(--pink-color, #ff0070);
  --title-text-color-dark: var(--darkblue-color, #000028);
  --themeswitch-color: var(--pink-color, #ff0070);
  --themeswitch-color_hover: var(--pink-color_tr, rgba(255, 0, 112, 0.4));
  --accent-color: var(--pink-color, #ff0070);
  --description-text-color: var(--lightpink-color, #f1b2ce);

  --page-bg-image: url("../images/cover-image-dark.png");
  --page-bg-color: var(--darkblue-color, #000028);

  .decor-rec {
    visibility: visible;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --maintitle-text-color: var(--violet-color, #db00ff);
    --shadow-color: var(--pink-color, #ff0070);
    --title-text-color-light: var(--pink-color, #ff0070);
    --title-text-color-dark: var(--darkblue-color, #000028);
    --themeswitch-color: var(--pink-color, #ff0070);
    --themeswitch-color_hover: var(--pink-color_tr, rgba(255, 0, 112, 0.4));
    --accent-color: var(--pink-color, #ff0070);
    --description-text-color: var(--lightpink-color, #f1b2ce);
  
    --page-bg-image: url("../images/cover-image-dark.png");
    --page-bg-color: var(--darkblue-color, #000028);
  }

  .decor-rec {
    visibility: visible;
  }
}