.page.theme_light {


  /*--pink-color: #ff0070;
--pink-color_tr: rgba(255, 0, 112, 0.4);
--lightpink-color: #f1b2ce;
--violet-color: #db00ff;
--darkblue-color: #000028;

--grey-color: #353430;
--grey-color_tr: #35343040;
--lightpink-color-2: #ffc2e6;
--lightpink-color-3: #ff8dcb;*/


--maintitle-text-color: var(--lightpink-color-2, #ffc2e6);
--shadow-color: var(--lightpink-color-3, #ff8dcb);
--title-text-color-light: var(--grey-color, #353430);
--title-text-color-dark: var(--grey-color, #353430);
--themeswitch-color: var(--grey-color, #353430);
--themeswitch-color_hover: var(--grey-color_tr, #35343040);
--accent-color: var(--lightpink-color-3, #ff8dcb);
--description-text-color: var(--grey-color, #353430);

--page-bg-image: url("../images/cover-image-light.png");
--page-bg-color: var(--darkblue-color, #000028);

.decor-rec {
  visibility: hidden;
}
}

@media (prefers-color-scheme: light) {
  :root {
    --maintitle-text-color: var(--lightpink-color-2, #ffc2e6);
    --shadow-color: var(--lightpink-color-3, #ff8dcb);
    --title-text-color-light: var(--grey-color, #353430);
    --title-text-color-dark: var(--grey-color, #353430);
    --themeswitch-color: var(--grey-color, #353430);
    --themeswitch-color_hover: var(--grey-color_tr, #35343040);
    --accent-color: var(--lightpink-color-3, #ff8dcb);
    --description-text-color: var(--grey-color, #353430);

    --page-bg-image: url("../images/cover-image-light.png");
    --page-bg-color: var(--darkblue-color, #000028);
  }

  .decor-rec {
    visibility: hidden;
  }
}