/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    /*background-color: var(--page-bg-color, #000028);*/
    background-image: var(--page-bg-image, url("../images/cover-image-dark.png"));
    /*background-image: var(--page-bg-image, url("../images/cover-image-light.png"));*/
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--text-font-family, "IBM Plex mono", sans-serif);
    font-size: 18px;
    line-height: 23.4px;
}

.shadow-decor {
    text-shadow: 2px 2px 0 var(--shadow-color, #ff0070);
}

.decor-rec {
    position: absolute;
    visibility: visible;
    display: flex;
    align-items: center;
    gap: 10px;
    inset-inline-end: 20px;
    inset-block-start: 10px;
    z-index: -1;
  }
  
  .decor-rec::before {
    content: "REC";
    color: var(--accent-color, #ff0070);
    line-height: 24px;
  }
  
  .decor-rec::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px var(--accent-color, #ff0070);
    background: var(--accent-color, #ff0070);
    inline-size: 9px;
    block-size: 9px;
  }

  .header {
    display: grid;
    padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
    min-block-size:100vh;
    align-items: start;
  }
  
  .header__theme-menu {
    justify-self: end;
    margin-block: 65px;
  }
  
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .header__theme-menu-button {
    border: 1px solid transparent;
    padding: 2px 12px;
    color: var(--themeswitch-color, #ff0070);
    line-height: 18px;
    text-transform: lowercase;
    background: transparent;
    cursor: pointer;
  }

  .header__theme-menu-button_active {
    border-color: currentColor;
    pointer-events: none;
  }
  
  .header__theme-menu-button:hover {
    border: 1px solid var(--themeswitch-color_hover, rgba(255, 0, 112, 0.4));
  }
  
  .header__theme-menu-button:focus {
    outline: 0;
  }
  
  .header__theme-menu-button:focus-visible {
    border-block-end-color: currentColor;
  }

  .decorated-zone {
    position: relative;
  }
  
  .decorated-zone::before, .decorated-zone::after {
    position: absolute;
    content: "";
    block-size: 25px;
    inline-size: 25px;
    z-index: -1;
  }
  
  .decorated-zone::before {
    inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
    inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
    border-inline-end: 1px solid var(--themeswitch-color, #ff0070);
    border-block-start: 1px solid var(--themeswitch-color, #ff0070);
  }
  
  .decorated-zone::after {
    inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
    inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
    border-inline-start: 1px solid var(--themeswitch-color, #ff0070);
    border-block-end: 1px solid var(--themeswitch-color, #ff0070);
  }

  .header-title {
    color: var(--maintitle-text-color, #db00ff);
    font-weight: bold;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 82.5%;
    text-shadow: 4px 4px 0 var(--shadow-color, #ff0070);
  }

  .header-description {
    color: var(--title-text-color-dark, #000028);
    font-weight: bold;
    font-size: inherit;
    line-height: inherit;
    background: var(--accent-color, #ff0070);
    margin-block: 55px;
  }

  .main {
    display: grid;
    gap: 50px;
    padding: 40px 10px;
  }

  .section {
    display: grid;
    gap: 20px;
  }

  .section-title {
    color: var(--title-text-color-light, #ff0070);
    font-weight: bold;
    font-size: inherit;
    line-height: inherit;
  }

  .articles-list {
    display: grid;
    gap: 20px;
  }

  .article {
    display: grid;
    gap: 10px;
    color: var(--description-text-color, #f1b2ce);
  }

  .article-title {
    font-weight: bold;
    font-size: inherit;
    line-height: inherit;
    color: var(--title-text-color-dark, #000028);
    background: var(--accent-color, #ff0070);
  }

  .reasons-title {
    margin-block-end: 20px;
  }

  .reason-title-list {
    font-weight: normal;
    font-size: inherit;
    line-height: inherit;
    color: var(--title-text-color-dark, #000028);
    background: var(--accent-color, #ff0070);
  }

  .pictures-list {
    display: grid;
    gap: 10px;
  }

  .pictures-section {
    gap: 8px;
  }
  
  .pictures-list-img {
    display: block;
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
    object-position: center;
    
  }

  .link {
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .link:focus {
    outline: 0;
  }
  
  .link:focus-visible {
    outline: 1px solid currentColor;
  }

  .footer {
    display: grid;
    padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
    min-block-size: 100vh;
    place-items: center;
  }

  /*media*/

  @media (width >= 768px) {
    .decor-rec {
        inset-block-start: 20px;
        inset-inline-end: 28px;
    }

    .header__theme-menu {
        margin-block-start: 170px;
        margin-block-end: 70px;
    }

    .header {
        padding-inline-start: 0;
    }

    .header-title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header-description {
        inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
        justify-self: end;
    }

    .main {
        gap: 80px;
        padding: 60px 20px;
    }

    .section {
        grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
    }

    .what-section-list {
        grid-column-start: span 2;
    }

    .how-section-list {
        grid-column-start: 2;
    }

    .pictures-section {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .pictures-list {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .pictures-list-item:first-child {
        grid-column-start: span 2;
    }

    .pictures-list-item:last-child {
        grid-column-start: span 2;
    }

    .pictures-list-item:nth-child(2) {
        grid-row-start: span 2;
    }

    .pictures-list-item:nth-child(3) {
        grid-row-start: span 2;
    }
  }

  @media (width >= 1024px) {
      .section {
        column-gap: 30px;
      }
    
      .what-section-list {
        grid-template-columns: 1fr 1fr 1fr;
      }
    
      .header__theme-menu {
        justify-self: center;
        margin-inline-start: 20px;
        margin-block: 0 215px;
      }
    
      .header__theme-menu-list {
        flex-direction: row;
      }
  }