/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --pink-color: #ff0070;
  --pink-color-tr: #ff007040;
  --lightpink-color: #f1b2ce;
  --violet-color: #db00ff;
  --darkblue-color: #000028;

  --grey-color: #353430;
  --grey-color-tr: #35343040;
  --lightpink-color-2: #ffc2e6;
  --lightpink-color-3: #ff8dcb;
  --lightpink-color-4: #fff1f7;


  --maintitle-text-color: var(--violet-color, #db00ff);
  --shadow-color: var(--pink-color, #ff0070);
  --title-text-color-light: var(--pink-color, #ff0070);
  --title-text-color-dark: var(--darkblue-color, #000028);
  --themeswitch-color: var(--pink-color, #ff0070);
  --themeswitch-color_hover: var(--pink-color-tr, #ff007040);
  --accent-color: var(--pink-color, #ff0070);
  --description-text-color: var(--lightpink-color, #f1b2ce);

  --text-font-family: 'IBM Plex mono', monospace;
  --page-bg-image: url("../images/cover-image-dark.png");
  --page-bg-color: var (--darkblue-color, #000028);
}